<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>quotedbl</string>
		<string>p</string>
		<string>uni0156</string>
		<string>Oslash</string>
		<string>yacute</string>
		<string>ibreve</string>
		<string>Idieresis</string>
		<string>bracketleft</string>
		<string>Omacron</string>
		<string>odieresis</string>
		<string>Tcaron</string>
		<string>zacute</string>
		<string>Eacute</string>
		<string>IJ</string>
		<string>uni0213</string>
		<string>Lcaron</string>
		<string>asciitilde</string>
		<string>pi</string>
		<string>two</string>
		<string>Lslash</string>
		<string>uniFB03</string>
		<string>R.alt</string>
		<string>uniFB04</string>
		<string>r</string>
		<string>Zacute</string>
		<string>dotlessi</string>
		<string>plus</string>
		<string>one</string>
		<string>period</string>
		<string>Agrave</string>
		<string>ucircumflex</string>
		<string>Aogonek</string>
		<string>Yacute</string>
		<string>zcaron</string>
		<string>quotedblright</string>
		<string>greater</string>
		<string>degree</string>
		<string>seven</string>
		<string>t</string>
		<string>onehalf</string>
		<string>Ccircumflex</string>
		<string>N</string>
		<string>onequarter</string>
		<string>W</string>
		<string>colon</string>
		<string>uniFB02</string>
		<string>L</string>
		<string>Abreve</string>
		<string>F</string>
		<string>eogonek</string>
		<string>Euro</string>
		<string>Aring</string>
		<string>uni0162</string>
		<string>uniFB01</string>
		<string>Cdotaccent</string>
		<string>grave</string>
		<string>ampersand</string>
		<string>S</string>
		<string>less</string>
		<string>uni0219</string>
		<string>umacron</string>
		<string>quoteleft</string>
		<string>Scaron</string>
		<string>d</string>
		<string>ubreve</string>
		<string>Amacron</string>
		<string>exclam</string>
		<string>plusminus</string>
		<string>ij</string>
		<string>uni2116</string>
		<string>four</string>
		<string>section</string>
		<string>ecircumflex</string>
		<string>P</string>
		<string>caron</string>
		<string>ldot</string>
		<string>ncaron</string>
		<string>iogonek</string>
		<string>q</string>
		<string>c</string>
		<string>eth</string>
		<string>uni0237</string>
		<string>Imacron</string>
		<string>ordmasculine</string>
		<string>idieresis</string>
		<string>uniF8EA</string>
		<string>four.alt</string>
		<string>uni203E</string>
		<string>Umacron</string>
		<string>aogonek</string>
		<string>iacute</string>
		<string>Emacron</string>
		<string>guillemotright</string>
		<string>bracketright</string>
		<string>icircumflex</string>
		<string>uring</string>
		<string>Gcircumflex</string>
		<string>G</string>
		<string>J.alt</string>
		<string>oacute</string>
		<string>questiondown</string>
		<string>rcaron</string>
		<string>Edieresis</string>
		<string>Iacute</string>
		<string>space</string>
		<string>nine</string>
		<string>braceleft</string>
		<string>Ograve</string>
		<string>figuredash</string>
		<string>copyright</string>
		<string>Rcaron</string>
		<string>breve</string>
		<string>K</string>
		<string>quotesingle</string>
		<string>Ycircumflex</string>
		<string>logicalnot</string>
		<string>uni0145</string>
		<string>eight</string>
		<string>J</string>
		<string>Dcaron</string>
		<string>ccircumflex</string>
		<string>Odieresis</string>
		<string>itilde</string>
		<string>ring</string>
		<string>w</string>
		<string>Nacute</string>
		<string>uni1E9E</string>
		<string>Ucircumflex</string>
		<string>ordfeminine</string>
		<string>Itilde</string>
		<string>fj.lig</string>
		<string>yen</string>
		<string>slash</string>
		<string>divide</string>
		<string>zdotaccent</string>
		<string>circumflex</string>
		<string>oslash</string>
		<string>Eogonek</string>
		<string>hcircumflex</string>
		<string>Adieresis</string>
		<string>uni0212</string>
		<string>aacute</string>
		<string>ugrave</string>
		<string>cedilla</string>
		<string>e</string>
		<string>B</string>
		<string>Z</string>
		<string>equal</string>
		<string>bar</string>
		<string>f</string>
		<string>u</string>
		<string>AE</string>
		<string>zero</string>
		<string>quoteright</string>
		<string>ebreve</string>
		<string>question</string>
		<string>jcircumflex</string>
		<string>Ebreve</string>
		<string>uni013B</string>
		<string>asciicircum</string>
		<string>comma</string>
		<string>Ecircumflex</string>
		<string>Obreve</string>
		<string>v</string>
		<string>uni0136</string>
		<string>Hcircumflex</string>
		<string>agrave</string>
		<string>k</string>
		<string>Racute</string>
		<string>tilde</string>
		<string>uni0218</string>
		<string>ecaron</string>
		<string>I</string>
		<string>Ccaron</string>
		<string>Eth</string>
		<string>ccedilla</string>
		<string>mu</string>
		<string>Ubreve</string>
		<string>j</string>
		<string>registered</string>
		<string>exclamdown</string>
		<string>V</string>
		<string>scaron</string>
		<string>perthousand</string>
		<string>Jcircumflex</string>
		<string>acircumflex</string>
		<string>uni0137</string>
		<string>scircumflex</string>
		<string>a</string>
		<string>numbersign</string>
		<string>Ydieresis</string>
		<string>O</string>
		<string>braceright</string>
		<string>uogonek</string>
		<string>Otilde</string>
		<string>R</string>
		<string>endash</string>
		<string>Uogonek</string>
		<string>Zdotaccent</string>
		<string>ogonek</string>
		<string>uni00AD</string>
		<string>dcaron</string>
		<string>y</string>
		<string>h</string>
		<string>uniFB00</string>
		<string>germandbls</string>
		<string>M</string>
		<string>Sacute</string>
		<string>uni2011</string>
		<string>macron</string>
		<string>abreve</string>
		<string>U</string>
		<string>Icircumflex</string>
		<string>guillemotleft</string>
		<string>emacron</string>
		<string>Ncaron</string>
		<string>kgreenlandic</string>
		<string>Gdotaccent</string>
		<string>s</string>
		<string>uni0146</string>
		<string>at</string>
		<string>dcroat</string>
		<string>cent</string>
		<string>i</string>
		<string>underscore</string>
		<string>gcircumflex</string>
		<string>Wcircumflex</string>
		<string>cacute</string>
		<string>ograve</string>
		<string>uni00B3</string>
		<string>ntilde</string>
		<string>D</string>
		<string>uniF8E8</string>
		<string>uni2015</string>
		<string>Dcroat</string>
		<string>g</string>
		<string>sacute</string>
		<string>H</string>
		<string>scedilla</string>
		<string>Scircumflex</string>
		<string>uacute</string>
		<string>uni0157</string>
		<string>ccaron</string>
		<string>Lacute</string>
		<string>omacron</string>
		<string>Y</string>
		<string>uni2031</string>
		<string>Ecaron</string>
		<string>ae</string>
		<string>adieresis</string>
		<string>hyphen</string>
		<string>uni0163</string>
		<string>OE</string>
		<string>parenleft</string>
		<string>l</string>
		<string>x</string>
		<string>aring</string>
		<string>racute</string>
		<string>nacute</string>
		<string>three</string>
		<string>dieresis</string>
		<string>dollar</string>
		<string>tcaron</string>
		<string>X</string>
		<string>Ocircumflex</string>
		<string>Cacute</string>
		<string>Ccedilla</string>
		<string>backslash</string>
		<string>uniF8E9</string>
		<string>otilde</string>
		<string>Idotaccent</string>
		<string>ocircumflex</string>
		<string>acute</string>
		<string>C</string>
		<string>napostrophe</string>
		<string>Udieresis</string>
		<string>dotaccent</string>
		<string>obreve</string>
		<string>Edotaccent</string>
		<string>wcircumflex</string>
		<string>Ldot</string>
		<string>Acircumflex</string>
		<string>Oacute</string>
		<string>Ibreve</string>
		<string>five</string>
		<string>udieresis</string>
		<string>igrave</string>
		<string>Utilde</string>
		<string>uni013C</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>asterisk</string>
		<string>Zcaron</string>
		<string>m</string>
		<string>Uacute</string>
		<string>atilde</string>
		<string>emdash</string>
		<string>Igrave</string>
		<string>parenright</string>
		<string>edotaccent</string>
		<string>Ntilde</string>
		<string>Scedilla</string>
		<string>uni00B2</string>
		<string>A</string>
		<string>Ugrave</string>
		<string>thorn</string>
		<string>imacron</string>
		<string>utilde</string>
		<string>uni00B9</string>
		<string>percent</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>Aacute</string>
		<string>Gbreve</string>
		<string>uni203D</string>
		<string>threequarters</string>
		<string>quotedblleft</string>
		<string>b</string>
		<string>Atilde</string>
		<string>uni2010</string>
		<string>Uring</string>
		<string>Iogonek</string>
		<string>eacute</string>
		<string>gdotaccent</string>
		<string>six</string>
		<string>o</string>
		<string>multiply</string>
		<string>gbreve</string>
		<string>sterling</string>
		<string>E</string>
		<string>cdotaccent</string>
		<string>Egrave</string>
		<string>T</string>
		<string>lslash</string>
		<string>oe</string>
		<string>amacron</string>
		<string>uni0122</string>
		<string>periodcentered</string>
		<string>brokenbar</string>
		<string>n</string>
		<string>edieresis</string>
		<string>ycircumflex</string>
		<string>z</string>
		<string>semicolon</string>
		<string>ydieresis</string>
		<string>egrave</string>
	</array>
</dict>
</plist>
