<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1349</string>
    <key>com.schriftgestaltung.customName</key>
    <string>Italic</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
      <dict>
        <key>Name</key>
        <string>Optical size</string>
        <key>Tag</key>
        <string>opsz</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.Axis Mappings</key>
    <dict>
      <key>opsz</key>
      <dict>
        <key>11</key>
        <integer>3030</integer>
        <key>16</key>
        <integer>5360</integer>
        <key>24</key>
        <integer>7500</integer>
        <key>36</key>
        <integer>8880</integer>
        <key>48</key>
        <integer>9400</integer>
        <key>6</key>
        <integer>0</integer>
        <key>72</key>
        <integer>9800</integer>
        <key>96</key>
        <integer>10000</integer>
      </dict>
      <key>wght</key>
      <dict>
        <key>400</key>
        <integer>400</integer>
        <key>500</key>
        <integer>470</integer>
        <key>600</key>
        <integer>550</integer>
        <key>700</key>
        <integer>650</integer>
        <key>800</key>
        <integer>766</integer>
        <key>900</key>
        <integer>900</integer>
      </dict>
    </dict>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Line Breaks</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Variable Font Origin</key>
    <string>E7986948-7A43-4A74-AC0C-4472ECCDAB04</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.note</key>
    <string>created with love by indestructible type*</string>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string>Light</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>E7986948-7A43-4A74-AC0C-4472ECCDAB04</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Eng</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rinvertedbreve</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Germandbls</string>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wdotaccent</string>
      <string>Wdotbelow</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>J.alt</string>
      <string>R.alt</string>
      <string>Racute.alt</string>
      <string>Rcaron.alt</string>
      <string>Rcommaaccent.alt</string>
      <string>Rinvertedbreve.alt</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>f</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>ij</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>jdotless</string>
      <string>jcircumflex</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>eng</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rinvertedbreve</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>germandbls</string>
      <string>longs</string>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wdotaccent</string>
      <string>wdotbelow</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>fi</string>
      <string>fl</string>
      <string>longs_t</string>
      <string>f_j.liga</string>
      <string>a.sc</string>
      <string>aacute.sc</string>
      <string>abreve.sc</string>
      <string>acircumflex.sc</string>
      <string>adieresis.sc</string>
      <string>agrave.sc</string>
      <string>aogonek.sc</string>
      <string>aring.sc</string>
      <string>atilde.sc</string>
      <string>ae.sc</string>
      <string>b.sc</string>
      <string>c.sc</string>
      <string>cacute.sc</string>
      <string>ccaron.sc</string>
      <string>ccedilla.sc</string>
      <string>d.sc</string>
      <string>eth.sc</string>
      <string>dcaron.sc</string>
      <string>dcroat.sc</string>
      <string>e.sc</string>
      <string>eacute.sc</string>
      <string>ecaron.sc</string>
      <string>ecircumflex.sc</string>
      <string>edieresis.sc</string>
      <string>egrave.sc</string>
      <string>eogonek.sc</string>
      <string>f.sc</string>
      <string>g.sc</string>
      <string>gbreve.sc</string>
      <string>h.sc</string>
      <string>i.sc</string>
      <string>iacute.sc</string>
      <string>icircumflex.sc</string>
      <string>idieresis.sc</string>
      <string>igrave.sc</string>
      <string>ij.sc</string>
      <string>j.sc</string>
      <string>k.sc</string>
      <string>l.sc</string>
      <string>lacute.sc</string>
      <string>lcaron.sc</string>
      <string>lslash.sc</string>
      <string>m.sc</string>
      <string>n.sc</string>
      <string>nacute.sc</string>
      <string>ncaron.sc</string>
      <string>eng.sc</string>
      <string>ntilde.sc</string>
      <string>o.sc</string>
      <string>oacute.sc</string>
      <string>ocircumflex.sc</string>
      <string>odieresis.sc</string>
      <string>ograve.sc</string>
      <string>ohungarumlaut.sc</string>
      <string>oslash.sc</string>
      <string>otilde.sc</string>
      <string>oe.sc</string>
      <string>p.sc</string>
      <string>thorn.sc</string>
      <string>q.sc</string>
      <string>r.sc</string>
      <string>racute.sc</string>
      <string>rcaron.sc</string>
      <string>s.sc</string>
      <string>sacute.sc</string>
      <string>scaron.sc</string>
      <string>scedilla.sc</string>
      <string>germandbls.sc</string>
      <string>t.sc</string>
      <string>tbar.sc</string>
      <string>tcaron.sc</string>
      <string>tcedilla.sc</string>
      <string>u.sc</string>
      <string>uacute.sc</string>
      <string>ucircumflex.sc</string>
      <string>udieresis.sc</string>
      <string>ugrave.sc</string>
      <string>uhungarumlaut.sc</string>
      <string>uring.sc</string>
      <string>v.sc</string>
      <string>w.sc</string>
      <string>x.sc</string>
      <string>y.sc</string>
      <string>yacute.sc</string>
      <string>ydieresis.sc</string>
      <string>z.sc</string>
      <string>zacute.sc</string>
      <string>zcaron.sc</string>
      <string>zdotaccent.sc</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>Delta</string>
      <string>Omega</string>
      <string>mu</string>
      <string>pi</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>four.alt</string>
      <string>zero.osf</string>
      <string>one.osf</string>
      <string>two.osf</string>
      <string>three.osf</string>
      <string>four.osf</string>
      <string>five.osf</string>
      <string>seven.osf</string>
      <string>eight.osf</string>
      <string>nine.osf</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>zero.tosf</string>
      <string>one.tosf</string>
      <string>two.tosf</string>
      <string>three.tosf</string>
      <string>four.tosf</string>
      <string>five.tosf</string>
      <string>seven.tosf</string>
      <string>eight.tosf</string>
      <string>nine.tosf</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>interrobang</string>
      <string>numbersign</string>
      <string>overline</string>
      <string>slash</string>
      <string>backslash</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>figuredash</string>
      <string>horizontalbar</string>
      <string>hyphentwo</string>
      <string>nonbreakinghyphen</string>
      <string>underscore</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>emquad</string>
      <string>emspace</string>
      <string>enquad</string>
      <string>enspace</string>
      <string>figurespace</string>
      <string>fourperemspace</string>
      <string>hairspace</string>
      <string>punctuationspace</string>
      <string>sixperemspace</string>
      <string>space</string>
      <string>nbspace</string>
      <string>thinspace</string>
      <string>threeperemspace</string>
      <string>zerowidthspace</string>
      <string>CR</string>
      <string>.notdef</string>
      <string>.null</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>euro</string>
      <string>florin</string>
      <string>sterling</string>
      <string>yen</string>
      <string>bulletoperator</string>
      <string>divisionslash</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>logicalnot</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>emptyset</string>
      <string>infinity</string>
      <string>integral</string>
      <string>product</string>
      <string>summation</string>
      <string>radical</string>
      <string>partialdiff</string>
      <string>micro</string>
      <string>percent</string>
      <string>pertenthousand</string>
      <string>perthousand</string>
      <string>lozenge</string>
      <string>curvedStemParagraphSignOrnament</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>numero</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>hungarumlautcomb</string>
      <string>caroncomb.alt</string>
      <string>circumflexcomb</string>
      <string>caroncomb</string>
      <string>brevecomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>breveinvertedcomb</string>
      <string>commaturnedabovecomb</string>
      <string>dotbelowcomb</string>
      <string>commaaccentcomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>uniF8E8</string>
      <string>uniF8E9</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Delta</key>
      <string>uni0394</string>
      <key>Gcommaaccent</key>
      <string>uni0122</string>
      <key>Germandbls</key>
      <string>uni1E9E</string>
      <key>Kcommaaccent</key>
      <string>uni0136</string>
      <key>Lcommaaccent</key>
      <string>uni013B</string>
      <key>Ncommaaccent</key>
      <string>uni0145</string>
      <key>Omega</key>
      <string>uni03A9</string>
      <key>Rcommaaccent</key>
      <string>uni0156</string>
      <key>Rcommaaccent.alt</key>
      <string>uni0156.alt</string>
      <key>Rinvertedbreve</key>
      <string>uni0212</string>
      <key>Rinvertedbreve.alt</key>
      <string>uni0212.alt</string>
      <key>Scommaaccent</key>
      <string>uni0218</string>
      <key>Tcedilla</key>
      <string>uni0162</string>
      <key>Tcommaaccent</key>
      <string>uni021A</string>
      <key>Wdotaccent</key>
      <string>uni1E86</string>
      <key>Wdotbelow</key>
      <string>uni1E88</string>
      <key>brevecomb</key>
      <string>uni0306</string>
      <key>breveinvertedcomb</key>
      <string>uni0311</string>
      <key>bulletoperator</key>
      <string>uni2219</string>
      <key>caroncomb</key>
      <string>uni030C</string>
      <key>caroncomb.alt</key>
      <string>uni030C.alt</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>commaaccentcomb</key>
      <string>uni0326</string>
      <key>commaturnedabovecomb</key>
      <string>uni0312</string>
      <key>curvedStemParagraphSignOrnament</key>
      <string>uni2761</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>divisionslash</key>
      <string>uni2215</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>emquad</key>
      <string>uni2001</string>
      <key>emspace</key>
      <string>uni2003</string>
      <key>enquad</key>
      <string>uni2000</string>
      <key>enspace</key>
      <string>uni2002</string>
      <key>euro</key>
      <string>Euro</string>
      <key>figurespace</key>
      <string>uni2007</string>
      <key>fourperemspace</key>
      <string>uni2005</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>gcommaaccent</key>
      <string>uni0123</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>hairspace</key>
      <string>uni200A</string>
      <key>horizontalbar</key>
      <string>uni2015</string>
      <key>hungarumlautcomb</key>
      <string>uni030B</string>
      <key>hyphentwo</key>
      <string>uni2010</string>
      <key>idotaccent</key>
      <string>i.loclTRK</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>interrobang</key>
      <string>uni203D</string>
      <key>jdotless</key>
      <string>uni0237</string>
      <key>kcommaaccent</key>
      <string>uni0137</string>
      <key>lcommaaccent</key>
      <string>uni013C</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>mu</key>
      <string>uni03BC</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>ncommaaccent</key>
      <string>uni0146</string>
      <key>nonbreakinghyphen</key>
      <string>uni2011</string>
      <key>numero</key>
      <string>uni2116</string>
      <key>ogonekcomb</key>
      <string>uni0328</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>overline</key>
      <string>uni203E</string>
      <key>pertenthousand</key>
      <string>uni2031</string>
      <key>punctuationspace</key>
      <string>uni2008</string>
      <key>rcommaaccent</key>
      <string>uni0157</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>rinvertedbreve</key>
      <string>uni0213</string>
      <key>scommaaccent</key>
      <string>uni0219</string>
      <key>sixperemspace</key>
      <string>uni2006</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>tcedilla</key>
      <string>uni0163</string>
      <key>tcedilla.sc</key>
      <string>uni0163.sc</string>
      <key>tcommaaccent</key>
      <string>uni021B</string>
      <key>thinspace</key>
      <string>uni2009</string>
      <key>threeperemspace</key>
      <string>uni2004</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>wdotaccent</key>
      <string>uni1E87</string>
      <key>wdotbelow</key>
      <string>uni1E89</string>
      <key>zerowidthspace</key>
      <string>uni200B</string>
    </dict>
  </dict>
</plist>
