<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>Edotaccent</string>
      <string>dotlessi</string>
      <string>l</string>
      <string>uring</string>
      <string>adieresis</string>
      <string>ij</string>
      <string>Umacron</string>
      <string>quoteright</string>
      <string>pi</string>
      <string>emdash</string>
      <string>odieresis</string>
      <string>parenleft</string>
      <string>V</string>
      <string>h</string>
      <string>rcaron</string>
      <string>two</string>
      <string>Ldot</string>
      <string>Q</string>
      <string>Eogonek</string>
      <string>egrave</string>
      <string>napostrophe</string>
      <string>R.alt</string>
      <string>Ycircumflex</string>
      <string>ecircumflex</string>
      <string>otilde</string>
      <string>braceright</string>
      <string>less</string>
      <string>thorn</string>
      <string>racute</string>
      <string>ugrave</string>
      <string>iogonek</string>
      <string>Ydieresis</string>
      <string>K</string>
      <string>obreve</string>
      <string>sacute</string>
      <string>uniF8E9</string>
      <string>aring</string>
      <string>uni0162</string>
      <string>w</string>
      <string>d</string>
      <string>ocircumflex</string>
      <string>Aacute</string>
      <string>ampersand</string>
      <string>W</string>
      <string>Thorn</string>
      <string>threequarters</string>
      <string>tilde</string>
      <string>nacute</string>
      <string>i</string>
      <string>uniFB04</string>
      <string>ellipsis</string>
      <string>Ccedilla</string>
      <string>Utilde</string>
      <string>colon</string>
      <string>registered</string>
      <string>asciitilde</string>
      <string>I</string>
      <string>uni00B2</string>
      <string>ecaron</string>
      <string>Wcircumflex</string>
      <string>t</string>
      <string>ydieresis</string>
      <string>jcircumflex</string>
      <string>uniFB02</string>
      <string>comma</string>
      <string>copyright</string>
      <string>IJ</string>
      <string>questiondown</string>
      <string>uogonek</string>
      <string>zcaron</string>
      <string>ae</string>
      <string>tcaron</string>
      <string>eogonek</string>
      <string>uniF8EA</string>
      <string>Oacute</string>
      <string>agrave</string>
      <string>Uacute</string>
      <string>quotedblleft</string>
      <string>bracketright</string>
      <string>brokenbar</string>
      <string>E</string>
      <string>numbersign</string>
      <string>Ccaron</string>
      <string>cacute</string>
      <string>uni2010</string>
      <string>Zdotaccent</string>
      <string>uni0137</string>
      <string>uni0212</string>
      <string>gcircumflex</string>
      <string>dieresis</string>
      <string>fj.lig</string>
      <string>quotesingle</string>
      <string>n</string>
      <string>X</string>
      <string>asciicircum</string>
      <string>uni021B</string>
      <string>endash</string>
      <string>uni00B3</string>
      <string>Ucircumflex</string>
      <string>uni203E</string>
      <string>cdotaccent</string>
      <string>emacron</string>
      <string>N</string>
      <string>braceleft</string>
      <string>slash</string>
      <string>quotedbl</string>
      <string>edotaccent</string>
      <string>Dcaron</string>
      <string>r</string>
      <string>b</string>
      <string>uni0146</string>
      <string>periodcentered</string>
      <string>cent</string>
      <string>oe</string>
      <string>Z</string>
      <string>uni2031</string>
      <string>Iogonek</string>
      <string>P</string>
      <string>k</string>
      <string>U</string>
      <string>ccircumflex</string>
      <string>hyphen</string>
      <string>oacute</string>
      <string>macron</string>
      <string>uni2116</string>
      <string>uni203D</string>
      <string>backslash</string>
      <string>atilde</string>
      <string>figuredash</string>
      <string>x</string>
      <string>underscore</string>
      <string>uni0219</string>
      <string>space</string>
      <string>Ntilde</string>
      <string>v</string>
      <string>Rcaron</string>
      <string>parenright</string>
      <string>dcroat</string>
      <string>p</string>
      <string>C</string>
      <string>nine</string>
      <string>Oslash</string>
      <string>Abreve</string>
      <string>Imacron</string>
      <string>uni00AD</string>
      <string>zacute</string>
      <string>D</string>
      <string>degree</string>
      <string>Egrave</string>
      <string>Lacute</string>
      <string>udieresis</string>
      <string>Iacute</string>
      <string>Cdotaccent</string>
      <string>Gdotaccent</string>
      <string>c</string>
      <string>ibreve</string>
      <string>iacute</string>
      <string>acircumflex</string>
      <string>uni00A0</string>
      <string>Eth</string>
      <string>Cacute</string>
      <string>ldot</string>
      <string>Dcroat</string>
      <string>f</string>
      <string>itilde</string>
      <string>ogonek</string>
      <string>eight</string>
      <string>g</string>
      <string>Eacute</string>
      <string>z</string>
      <string>uni0163</string>
      <string>breve</string>
      <string>Ograve</string>
      <string>uni0218</string>
      <string>e</string>
      <string>period</string>
      <string>uniFB03</string>
      <string>plus</string>
      <string>Idotaccent</string>
      <string>ccedilla</string>
      <string>gbreve</string>
      <string>idieresis</string>
      <string>uni000D</string>
      <string>uni1E9E</string>
      <string>equal</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>cedilla</string>
      <string>Ecaron</string>
      <string>Zcaron</string>
      <string>section</string>
      <string>Ocircumflex</string>
      <string>Scaron</string>
      <string>Idieresis</string>
      <string>guillemotright</string>
      <string>Odieresis</string>
      <string>H</string>
      <string>grave</string>
      <string>Scedilla</string>
      <string>uniFB01</string>
      <string>Otilde</string>
      <string>Ubreve</string>
      <string>ordfeminine</string>
      <string>uni2011</string>
      <string>kgreenlandic</string>
      <string>logicalnot</string>
      <string>Aring</string>
      <string>s</string>
      <string>uacute</string>
      <string>J</string>
      <string>scedilla</string>
      <string>S</string>
      <string>dcaron</string>
      <string>Racute</string>
      <string>m</string>
      <string>Ecircumflex</string>
      <string>uni013B</string>
      <string>mu</string>
      <string>ucircumflex</string>
      <string>B</string>
      <string>acute</string>
      <string>Gcircumflex</string>
      <string>amacron</string>
      <string>four</string>
      <string>lslash</string>
      <string>Obreve</string>
      <string>R</string>
      <string>edieresis</string>
      <string>Uogonek</string>
      <string>u</string>
      <string>guillemotleft</string>
      <string>Igrave</string>
      <string>Nacute</string>
      <string>perthousand</string>
      <string>dotaccent</string>
      <string>lacute</string>
      <string>uniFB00</string>
      <string>bar</string>
      <string>OE</string>
      <string>asterisk</string>
      <string>four.alt</string>
      <string>Ebreve</string>
      <string>T</string>
      <string>exclam</string>
      <string>Adieresis</string>
      <string>G</string>
      <string>uni0213</string>
      <string>o</string>
      <string>omacron</string>
      <string>Zacute</string>
      <string>Ccircumflex</string>
      <string>Hcircumflex</string>
      <string>abreve</string>
      <string>one</string>
      <string>Gbreve</string>
      <string>caron</string>
      <string>Amacron</string>
      <string>y</string>
      <string>Aogonek</string>
      <string>Itilde</string>
      <string>eacute</string>
      <string>three</string>
      <string>J.alt</string>
      <string>Sacute</string>
      <string>uniF8E8</string>
      <string>Acircumflex</string>
      <string>zero</string>
      <string>question</string>
      <string>quotedblright</string>
      <string>onequarter</string>
      <string>eth</string>
      <string>at</string>
      <string>Ncaron</string>
      <string>quoteleft</string>
      <string>ncaron</string>
      <string>bracketleft</string>
      <string>igrave</string>
      <string>uni00B9</string>
      <string>umacron</string>
      <string>exclamdown</string>
      <string>divide</string>
      <string>F</string>
      <string>germandbls</string>
      <string>seven</string>
      <string>percent</string>
      <string>Atilde</string>
      <string>lcaron</string>
      <string>O</string>
      <string>onehalf</string>
      <string>L</string>
      <string>Ibreve</string>
      <string>ycircumflex</string>
      <string>A</string>
      <string>Lslash</string>
      <string>Scircumflex</string>
      <string>ring</string>
      <string>uni0136</string>
      <string>uni0157</string>
      <string>plusminus</string>
      <string>Ugrave</string>
      <string>six</string>
      <string>j</string>
      <string>uni2015</string>
      <string>uni0237</string>
      <string>ordmasculine</string>
      <string>circumflex</string>
      <string>yen</string>
      <string>multiply</string>
      <string>uni0000</string>
      <string>Uring</string>
      <string>Agrave</string>
      <string>imacron</string>
      <string>ccaron</string>
      <string>ebreve</string>
      <string>AE</string>
      <string>Omacron</string>
      <string>uni0122</string>
      <string>uni0145</string>
      <string>ograve</string>
      <string>gdotaccent</string>
      <string>aogonek</string>
      <string>q</string>
      <string>semicolon</string>
      <string>Icircumflex</string>
      <string>uni013C</string>
      <string>scaron</string>
      <string>ntilde</string>
      <string>Lcaron</string>
      <string>Euro</string>
      <string>Jcircumflex</string>
      <string>hcircumflex</string>
      <string>uni021A</string>
      <string>Emacron</string>
      <string>yacute</string>
      <string>Udieresis</string>
      <string>a</string>
      <string>uni0156</string>
      <string>zdotaccent</string>
      <string>M</string>
      <string>icircumflex</string>
      <string>Edieresis</string>
      <string>Tcaron</string>
      <string>ubreve</string>
      <string>utilde</string>
      <string>aacute</string>
      <string>wcircumflex</string>
      <string>scircumflex</string>
      <string>greater</string>
      <string>dollar</string>
      <string>five</string>
      <string>oslash</string>
      <string>sterling</string>
    </array>
  </dict>
</plist>
